<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('signin') }}">Войти</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">Выйти</a></li>
            {%  %}
            <li><a href="{{ url_for('registration') }}">Зарегистрироваться</a></li>
            <!-- <li></li> -->
        </ul>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>